.wrapper {
    min-width: 100px !important;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
}

.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background: #03be9c;
    }
}
